#!/usr/bin/make -f

%:
	dh $@ --parallel --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- %CONFIGUREFLAGS%

override_dh_installdocs:
	dh_installdocs -A AUTHORS.md notes.txt README.md todo.txt

override_dh_installchangelogs:
	dh_installchangelogs -A CHANGELOG.md
